html {
  background-color: black;
  color: #fff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
header {
  border-bottom: 2px solid hotpink;
  text-align: left;
}

#heading {
  font-size: 50px;
  text-decoration: none;
  display: inline;
  color: white;
}

#links {
  display: flex;
  width: 100%;
  text-align: right;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 25px;
  justify-content: right;
}

.field {
  padding: 10px;
  display: inline-block;
}

#section {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

#telephone {
  display: inline-block;
  width: 20%;
  height: 20%;
  justify-content: left;
}

#contact {
  display: inline-block;
  padding-left: 20px;
  padding-top: 150px;
  width: 50%;
  justify-content: right;
  vertical-align: top;
}

form {
  margin: auto;
  width: 90%;
}
.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.form-item label {
  flex-basis: 150px;
  font-size: 22px;
}
.form-item input,
.form-item textarea {
  flex-basis: 50%;
  border: 2px solid hotpink;
}
.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid green;
}
.form-item input,
.form-item textarea,
.form-item button {
  border: 2px solid hotpink;
  background-color: #fff;
  padding: 5px;
  font-size: 18px;
}
.form-item button:hover {
  border: 2px solid hotpink;
  background-color: hotpink;
  color: #fff;
}
.form-item button {
  width: 100px;
}

footer {
  display: block;
  text-align: center;
}

#icons {
  display: block;
  color: white;
  font-weight: bold;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #contact {
    display: block;
    width: 900px;
    height: 300px;
    padding: 5%;
    margin: auto;
  }
  #telephone {
    width: 30%;
    height: 30%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #contact {
    display: block;
    width: 100;
    height: 100;
    padding: 5%;
    margin: auto;
  }
}
